html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body {
    background-color: rgb(87, 181, 243);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    min-height: 100vh;
  }
  .container {
    background-color: white;
    display: flex;
    flex-direction:column;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    max-width: 967px;
  }
  .items {
    border-bottom: 2px solid blue;
  }
  .items:last-child {
    /* border-bottom: none; */
  }

  .items ul li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  img {
    margin-bottom: 25px;
    width: 100%;
    max-width: 100%;
  }
  h2 {
    color:black;
    letter-spacing: 2px;
    font-weight: 900;
  }
  ul {
    margin: 25px;
    color: rgb(68, 114, 241);
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    padding-bottom: 20px;

  }
  span {
    display: block;
    font-size: 32px;
    color: coral;
    font-weight: 800;
  }
  button {
    display: inline-block;
    padding: 15px;
    color: darkgreen;
    border-radius: 10px;
    border: 1px solid blue;
    background-color: white;
    text-transform: uppercase;
    text-decoration: none;
  }
  button:hover{
    background-color: rgb(233, 233, 190);
  }
  @media(min-width:900px){
    .container{
      flex-direction: row;
    }
    .items{
      border-bottom: none;
      border-right: 1px solid blue;
    }
    .items:last-child{
        border-right: none;
    }
    
  }